.center {
	margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
	position: relative; 
}

*{margin: 0; padding: 0; box-sizing: border-box; }

.grandparent{width: 100vw; height:100vh; background: #dfe6e9; color: #fff;}

.h1{font-size: 4rem; padding: 50px 0; text-align: center; color: #000000;}
.p{text-align: center;}

.parent{wifht: 80vw; height: auto; margin: auto; dislay: flex; justify-content: space-around; }

.child{width:200px; height:200px; background:#81ecec;}
.child:first-child {background: #ffbe76}
.child:last-child {background: #ff7979}

 @media (max-width: 768px){ .grandparent{height:auto;}}